.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  background-color: #004b23;
  align-items: center;
  gap: 10px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #008000;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  user-select: none;
}
.logo:active {
  transform: scale(0.98);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 90%;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  user-select: none;
}

.nav-button:hover {
  background-color: #38b000;
  transition: background-color 0.3s linear;
}

.var-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 85%;
}
