.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #d4e1ff;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100%;
  width: 15%;
  background-color: #d4e1ff;  
  align-items: center;
  gap: 10px;
  /* border-radius: 100px; */
  /* margin-left: 30px; */
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #fdf07c;
  margin-top: 20px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 50%;
  cursor: pointer;
  color: rgb(100, 100, 100);
  user-select: none;
}
.logo:active {
  transform: scale(0.98);
}

.search {
  text-align: left;
  font-size: 15px;
  height: 30px;
  width: calc(90% - 15px);
  border-radius: 50px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #ccc;
  background-image: url('./images/search-icon.png');
  background-size: 20px 20px;
  background-position: 95% center;
  background-repeat: no-repeat;
  padding-left: 15px;
}


.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 90%;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fdf07c;
  color: rgb(100, 100, 100);
  user-select: none;
}

.nav-button:hover {
  background-color: gold;
  transition: background-color 0.3s linear;
}

.var-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 85%;
}


.nav-button.active,
.logo.active {
  background-color: gold;
  border: 2px solid rgb(100, 100, 100);
  color: rgb(100, 100, 100);
}
