.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #fffaff;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100%;
  width: 15%;
  background-color: #D09CFA;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  margin-left: 30px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #A555EC;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  user-select: none;
}
.logo:active {
  transform: scale(0.98);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 90%;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  user-select: none;
}

.nav-button:hover {
  background-color: #A555EC;
  transition: background-color 0.3s linear;
}

.var-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 85%;
}


.nav-button.active,
.logo.active {
  background-color: #A555EC;
  border: 2px solid white;
  color: white;
}
